@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Style pour le conteneur principal */
.main-container {
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
}

/* Style de l'en-tête */
header {
    color: black;
    margin-bottom: 20px;
}

/* Style des onglets */
.custom-tabs .tab {
    font-size: smaller; /* Onglets plus petits */
}

.custom-tab {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 5px;
}

/* Style de l'onglet actif */
.custom-tabs .tab--selected {
    background-color: #007BFF;
    color: white;
}

/* Style du contenu de l'onglet */
.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}
