@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Style pour le conteneur principal */
.main-container {
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
}

/* Style de l'en-tête */
header {
    color: black;
    margin-bottom: 20px;
}